<!DOCTYPE html>
<html>
	<head>
		<title>Result Survey</title>
		<meta charset="UTF-8" />
		<!-- <link  type="text/css" rel="stylesheet" href="{{ asset('css/admin.css')}}" />
		<link  type="text/css" rel="stylesheet" href="{{ asset('css/library.css')}}" />

		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/styles.css" rel="stylesheet">
		<link href="../css/mobile.css" rel="stylesheet">
		<link href="../css/slide.css" rel="stylesheet">
		<link href="../css/screen.css" rel="stylesheet" type="text/css" media="screen">
		<link href="../css/AdminLTE.min.css" rel="stylesheet" type="text/css" media="screen"> -->
	</head>

	<body>
		<div class="header1">
		<img alt="BK" src="https://sso.hcmut.edu.vn/cas/images/bk_logo.png" class="avatar">
		<div class="font">
		<h1> Kết quả khảo sát </h1>
		</div>
		</div>	

		<div class="header2">
		</div>

		<div class="menu">
			<div class="mode">
			<select name="che do xem">
				<option>Chế độ xem</option>
				<option>Phần trăm</option>
				<option>Biểu đồ</option>
			</select>
				<div id="dangxuat">
				<a href="/home">Đăng xuất</a>
				</div>
			</div>
		</div>
<!-- Content ---->

		<div class="container">
    		<div class="column">
				<div class="title">
                    <!-- <br><b>Học tập</b></br> -->
                    <b>Học tập</b>
				</div>
				<div class="item">
					<div class="content-1">
						<img class="image" src="../../assets/images/cosovatchat.png">
							<div class="content">
                                <!-- <br>1. Cơ sở vật chất</br> -->
								<a href="http://localhost:4200/main/study">1. Cơ sở vật chất</a>
								<!-- <a routerLink="study" routerLinkActive="active">1. Cơ sở vật chất</a> -->
							</div>
					</div>

					<div class="content-1">
						<img class="image" src="../../assets/images/dkmh.png">
							<div class="content">
                                <!-- <br>2. Đăng kí môn học</br> -->
                                2. Đăng kí môn học
							</div>
					</div>

					<div class="content-1">
						<img class="image" src="../../assets/images/tai_lieu.png">
							<div class="content">
                                <!-- <br>3. Tài liệu</br> -->
                                3. Tài liệu
							</div>
					</div>

				</div>
    		</div>
    		<div class="column">
				<div class="title">
                    <!-- <br><b>Dịch vụ</b></br> -->
                    <b>Dịch vụ</b>
				</div>
				<div class="item">
					<div class="content-1">
						<img class="image" src="../../assets/images/pdt.png">
							<div class="content">
                                <!-- <br>1. Đánh giá PĐT</br> -->
                                1. Đánh giá PĐT
							</div>
					</div>	
					<div class="content-1">
						<img class="image" src="../../assets/images/thu_vien.png">
							<div class="content">
                                <!-- <br>2. Đánh giá thư viện</br> -->
                                2. Đánh giá thư viện
							</div>
					</div>
					<div class="content-1">
						<img class="image" src="../../assets/images/cac_dich_vu_khac.png">
							<div class="content">
                                <!-- <br>3. Các dịch vụ khác</br> -->
                                3. Các dịch vụ khác
							</div>
					</div>
					
				</div>
			</div>
    		<div class="column">
				<div class="title">
                    <!-- <br><b>Hoạt động</b></br> -->
                    <b>Hoạt động</b>
				</div>
				<div class="item">
				<div class="content-1">
						<img class="image" src="../../assets/images/hoat_dong_ngoai_khoa.png">
							<div class="content">
                                <!-- <br>1. Hoạt động ngoại khóa</br> -->
                                1. Hoạt động ngoại khóa
							</div>
					</div>
					
					<div class="content-1">
						<img class="image" src="../../assets/images/phong_trao_clb.png">
							<div class="content">
                                <!-- <br>2. Phong trào và CLB</br> -->
                                2. Phong trào và CLB
							</div>
					</div>
					
				</div>
    		</div>
		</div>	

	</body>
</html>
